<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.email %>,</p>

    <p>
      Project <em><%= @project.name %></em>, currently in
      <em><%= @project.current_phase.name %></em> phase, is completing a sprint this week. 
       Remember to fill in the perspective form!
    </p>

  </body>
</html>
