<h1> Users </h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Edit/remove</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Edit/Remove', edit_user_registration_path%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<b class="warning"> Please note that users which are already in a team, cannot be deleted! </b>
