<h1>New Experiment</h1>

<h3>Project: <em><%= @project.name %></em> - Phase: <em><%= @phase.name %></em></h3>

<%= render 'form' %>

<%= link_to 'Back', project_phase_experiments_path(@project.id, @phase.id) %>
