// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.phase_table {
  background-color: #dddddd;
  width: 100%;
  font-weight: normal;
}
.phase_table .top_row {
  font-weight: bold;
  color: #026AA7;
}
.phase_table th {
  width: 25%;
}
